html, body {
  font-family: monospace;
}

table {
  border: 1px solid #eee;
}

th {
  background-color: #000;
  color: #fff;
  padding: .5em;
}

button.round {
  border-radius: 50%;
  background-color: #000;
  color: #fff;
}

form.inline {
  display: inline-block;
}
